<div class="mx-3">
  <div class="m-5 bg-body-tertiary">
    <h1 class="text-bold p-3">SIP Calculator</h1>
    <div class="row">
        <div class="col-md-6 col-12 p-4">
          <div [formGroup]="sipForm" class="p-4">
            <div class="col-md-12 pb-3">
                <label class="col-md-8">Monthly Investment: </label>
                <input class="col-md-4"
                    type="number"
                    maxlength="50"
                    name="monthlyAmount"
                    formControlName="monthlyAmount"
                    (change)="calculateAmount()">
                <ngx-slider [(value)]="sipForm.controls['monthlyAmount'].value"
                    (valueChange)="onSliderChange($event, 'monthlyAmount')" 
                    [options]="options">
                </ngx-slider>
            </div>
            <div class="col-md-12 pb-3">
              <label class="col-md-8">Time Period: </label>
              <input class="col-md-4"
                  type="number"
                  maxlength="3"
                  name="timePeriod"
                  formControlName="timePeriod"
                  (change)="calculateAmount()">
              <ngx-slider [(value)]="sipForm.controls['timePeriod'].value"
                  (valueChange)="onSliderChange($event, 'timePeriod')" 
                  [options]="timePeriodOptions">
              </ngx-slider>
            </div>
            <div class="col-md-12 pb-3">
              <label class="col-md-8">Expected Returns %: </label>
              <input class="col-md-4"
                  type="number"
                  maxlength=""
                  name="returns"
                  formControlName="returns"
                  (change)="calculateAmount()">
              <ngx-slider [(value)]="sipForm.controls['returns'].value"
                  (valueChange)="onSliderChange($event, 'returns')" 
                  [options]="returnsOptions">
              </ngx-slider>
            </div>
          </div>

          <div class="results m-2">
            <h4>Invested Amount: <strong>Rs. {{ totalInvestAmt | number:'1.3-3' }}</strong></h4>
            <h4>Estimated Returns: <strong>Rs. {{ totalInterest | number:'1.3-3' }}</strong></h4>
            <h4>Total Value: <strong>Rs. {{ totalAmount | number:'1.3-3' }}</strong></h4>
          </div>
        </div>
        <div class="col-md-6 col-12 p-5">
          <!-- graph section -->
            <app-donut-chart [investment]="totalInvestAmt"
                [interest]="totalInterest">
            </app-donut-chart>
        </div>
      </div>
  </div>
</div>